<% if ( typeof error !== 'undefined' ) { %>


    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong>
        <p>
            <%= error %>
        </p>
    </div>

    <% }
if ( typeof data !== 'undefined' ) { %>

        <div class="row">

            <div class="col-xs-12 col-md-4 mg-b-10">
                <div class="data-container">
					<div class="data-title text-right">Bien recherché</div>
					<div class="data-value-label">Prix</div>
                    <div class="data-value-content">
                        <span><%= data.lbcData.price %> €</span>
                        <span> (<%= Math.round(data.lbcData.price/data.lbcData.surface) %> €/m<sup>2</sup>)</span>
                    </div>
                    <div class="data-value">
                        <div class="data-value-label">Ville</div>
                        <div class="data-value-content">
                            <span class="upper"><%= data.lbcData.city.replace( /\_/g, '-' ) %></span>
                        <span> (<%= data.lbcData.postalCode %>)</span>
                    </div>
					<div class="data-value-label">Type</div>
                    <div class="data-value-content">
                        <span class="first-upper"><%= data.lbcData.type %></span>
                    </div>
                    <div class="data-value-label">Surface</div>
                    <div class="data-value-content">
                        <span><%= data.lbcData.surface %> m<sup>2</sup></span>
                    </div>                    
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 mg-b-10">
            <div class="data-container pad-l-10 pad-r-10">
                <div class="data-title text-center data-result text-xlarge">Bonne affaire?</div>
                <div class="data-value">
                    <div class="data-value-content text-center">
                        <% if ( data.deal.good ) { %>
                            <div class="pad-t-10">
                                <span class="text-success data-value-content marker">OUI</span>
                            </div>
                            <% } else { %>
                                <div class="pad-t-10">
                                    <span class="text-danger data-value-content marker">NON</span>
                                </div>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 mg-b-10">
            <div class="data-container">
                    <div class="data-title text-right">Prix moyens</div>
                    <div class="data-subtitle">
                        <%= data.lbcData.city.replace( /\_/g, '-' ) %>
                    </div>
                    <div class="data-value">
                        <div class="data-value-label">Prix /m<sup>2</sup> (appartement)</div>
                        <div class="data-value-content">
						<span><%= data.maData.priceAppart %> €</span>
                    </div>
            </div>
            <div class="data-value">
                <div class="data-value-label">Prix /m<sup>2</sup> (maison)</div>
                <div class="data-value-content">
                        <span><%= data.maData.priceHouse %> €</span>
                </div>
            </div>
        </div>
        </div>

        </div>

        <% } %>